{% extends "SS/base_front.html" %}

{% block title %}Cryptic Tech{% endblock %}


{% block content %}
        {% load static %}
    <div id="placeholder" style="visibility: hidden">
        <pre>


        </pre>
    </div>
<!-- Carousel
    ================================================== -->
    <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="{% static "SS/images/Lightning_fast.jpg" %}" alt="First slide" style="opacity: 0.5">
      <div class="container">
        <div class="carousel-caption" style="color: #000000;">
          <h1>Lightning Fast</h1>
          <p>The Proxy based on Socks5 and Google BBR peaks extremely fast speed ever.</p>
          <p><a class="btn btn-lg btn-primary" href="./order" role="button" style="color: black">Order Now</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="{% static "SS/images/global.jpg" %}" alt="Second slide" style="opacity: 0.5">
      <div class="container">
        <div class="carousel-caption" style="color: #000000;">
          <h1>High Usability and Accessibility</h1>
          <p>Intercontinental Servers Provided, Satisfy all your needs.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button" style="color: black">Order Now</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="{% static "SS/images/security.jpg"%}" alt="Third slide" style="opacity: 0.5">
      <div class="container">
        <div class="carousel-caption" style="color: #000000;">
          <h1>Availability & Safety</h1>
          <p>Cross-platform clients, Compatible IPv4/v6, Business level Encryption and Obfuscating.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button" style="color: black">Order Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
    </div>

<!-- /.carousel -->


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="{% static "SS/images/4k.png" %}" alt="Generic placeholder image" width="180" height="180">
      <h2>HD Video Stream</h2>
      <p>Benefited by Google BBR™ acceleration, Our service fully supported 4K Resolution Video / Live stream(Tested based on Youtube 4K).</p>
      <p style="color: red">However, using P2P on our service are strictly prohibited, for the reason that BT protocol occupied excessive server bandwidth and may interrupt other users' experience.</p>
      <p><a class="btn btn-default" href="tos/" role="button">View details on our <br> Term of Service</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

<!-- /END THE FEATURETTES -->
{% endblock %}
