<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
  <title>Terms of Service - Cryptic Tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'SS/CSS/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.png">
</head>

<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="#" title="Client">Client</a></li>
        <li><a href="#" title="Promotion">Promotion</a></li>
        <li class="active"><a href="#" title="ToS">ToS</a></li>
        <li><a href="#" title="Order">Order</a></li>
        <li><a href="#" title="Support">Support</a></li>
      </ul>
      <h3 class="text-muted">Cryptic Tech</h3>
    </div>
    <div class="row">
      <div class="span10">
        <div class="ads">
        </div>
        <h4>Outline</h4>
        <p>
          <ul>
            <li>Cryptic Tech agrees to furnish services to the Subscriber, subject to the following Terms of Service. Use of Cryptic Tech's service constitutes acceptance and agreement to Cryptic Tech's Terms of Service. Cryptic Tech reserves the right
              to modify the Terms of Service without notice.</li>
          </ul>
        </p>
        <h4>Use of the Service</h4>
        <p>
          <ul>
            <li>You may use our services after completed payment, on a normal, stable basis.</li>
            <li>Your privacy will be protected according to the law of Hong Kong S.A.R. Traffic will be encrypted during transmission.</li>
          </ul>
        </p>
        <h4>Law Restrictions</h4>
        <p>
          <ul>
            <li>You are not allowed to do/publish anything that breaking the law of your country or region when using our service.</li>
            <li>You are not allowed to do/publish anything that breaking the law of our server locations, including mainland China, Japan, Singapore and the United States.</li>
          </ul>
        </p>
        <h4>Prohibited Usage</h4>
        <p>
          <ul>
            <li>You are not allowed to publish anything porn-related.</li>
            <li>You are not allowed to publish any fraud information.</li>
            <li>You are not allowed to publish anything politics related.</li>
            <li>You are not allowed to publish anything that breaking the morality of mainland China.</li>
            <li>You are not allowed to publish anything that affecting political stability.</li>
            <li>You are not allowed to use eMule, Xunlei or any P2P application that consumes large amount of traffic.</li>
            <li>You are not allowed to download or upload any copyrighted materials.</li>
            <li>You are not allowed to publish information about crime.</li>
            <li>You are not allowed to distribute virus or trojan.</li>
            <li>You are not allowed to send spam emails.</li>
            <li>You are not allowed to do anything cracking related.</li>
            <li>You are not allowed to purchase with shared rental or transfer account.</li>
          </ul>
        </p>
        <h4>Service Period</h4>
        <p>
          <ul>
            <li>Starting from the complete payment from customer, to customer refund, arrears or suspended/terminated service, as the service period.</li>
          </ul>
        </p>
        <h4>Refund policy</h4>
        <p>
          <ul>
            <li>We do not offer any refund.</li>
          </ul>
        </p>
        <h4>Limitation of Liability</h4>
        <p>
          <ul>
            <li>We are not responsible for:</li>
            <li>Service suspension, termination, data loss or anything due to overdue on payment.</li>
            <li>Service suspension, termination, data loss or anything due to illegal operation of customer.</li>
            <li>Service suspension, termination, data loss or anything due to war, armed conflict or any unexpected political events.</li>
            <li>Service suspension, termination, data loss or anything due to natural disaster.</li>
          </ul>
        </p>
        <h4>Breach of Contract</h4>
        <p>
          <ul>
            <li>Cryptic Tech promises 99% uptime per month, except incidents included in Prohibited Usage and Limitation of Liability.</li>
            <li>For customer breaking our Prohibited Usage rules, we will delete all user profile and data without refund.</li>
          </ul>
        </p>
        <h4>Management</h4>
        <p>
          <ul>
            <li>Cryptic Tech does not provide any client application/usage/management support.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="footer">
      <p>&copy; <a href="https://shadowsocks.la/">Cryptic Tech</a> - Please obey the law of mainland China</p>
    </div>
  </div>
  <script src="{% static 'SS/JS/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'SS/JS/bootstrap.min.js' %}"></script>
</body>

</html>